<h2 class="text-2xl font-bold mb-4 text-gray-800">Users</h2>

<div class="w-fit bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition cursor-pointer">
  <%= link_to "New User", new_user_path %>
</div>

<table class="w-full">
  <thead class="bg-gray-100">
    <tr>
      <th class="px-4 py-2 text-left">Name</th>
      <th class="px-4 py-2 text-left">Email</th>
      <th class="px-4 py-2 text-left">Actions</th>
    </tr>
  </thead>
  <tbody class="divide-y">
    <% users.each do |user| %>
      <tr class="hover:bg-gray-50">
        <td class="px-4 py-3"><%= user.name %></td>
        <td class="px-4 py-3"><%= user.email %></td>
        <td class="px-4 py-3">
          <%= link_to "Players", user_players_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>